@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './assets/css/landing.css';
@import './assets/css/about.css';
@import './assets/css/associate.css';
@import './assets/css/reach.css';
@import './assets/css/news.css';
@import './assets/css/sponsors.css';
@import './assets/css/gallery.css';
@import './assets/css/contact.css';
@import './assets/css/footer.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;

    --grad: linear-gradient(90deg, #26B6CA 49.07%, #30B9C7 56.02%, #4DBFBE 68.04%, #7ACBAF 83.68%, #B1D89E 100%);
}

@media (min-width: 800px) {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: #30B9C7;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #7ACBAF;
    }
    ::-webkit-scrollbar-track {
      background-color: #212121;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.section{
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.section .title{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #212121;
}

.section .title::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.5rem;

  transform: translateX(-50%);
  background: #26B6CA;
  width: 30%;
  height: 5px;
  border-radius: 5px;
}

.section .container{
  padding: 1rem 0;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

@media (max-width: 800px){
    .section .title{
    font-size: 1.7rem;
  }
  .section .title::after{
    height: 4px;
    border-radius: 4px;
  }
  .section .container{
    width: 100%;
  }
}

@media (max-width: 500px){
    .section .title{
    font-size: 1.5rem;
  }
  .section .title::after{
    height: 3px;
    border-radius: 3px;
  }
  .section .container{
    gap: 2rem;
  }
}


.section.title-sponsors{
  --font-color: #212121;
  --bg-color: #fff;
  --color: #26B6CA;
  padding: 3rem 0 5rem;
  background: var(--bg-color);

  gap: 3rem;
}

.section.title-sponsors .container{
  width: 80%;
  height: 300px;
  border-radius: 20px;
  background: var(--color);
  opacity: 0.5;
}

.section.title-sponsors .title {
  color: var(--font-color);
}
