.landing {
    height: 100vh;
    background: #212121;

    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .logo img {
    width: 800px;
}

@media (max-width: 800px){
    .landing .logo img{
        width: 300px;
    }
}