.section.sponsors{
    --font-color: #fff;
    --bg-color: #212121;
    --color: #26B6CA;
    padding: 3rem 0 5rem;
    background: var(--bg-color);

    gap: 3rem;
}

.section.sponsors .container{
    width: 100%;
    height: 300px;
    background: var(--color);
}

.section.sponsors .title {
    color: var(--font-color);
}